In [1]:
import pandas as pd

In [2]:
inventory = pd.read_csv("https://raw.githubusercontent.com/ChanBotCoder/Petal-Power-Inventory/main/inventory.csv")

In [3]:
inventory.head(10)

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

In [4]:
staten_island = inventory.head(10)

In [5]:
product_request = staten_island.product_description
product_request

0                         daisy
1                    calla lily
2                        tomato
3                          rake
4                   wheelbarrow
5                         spade
6                 insect killer
7                   weed killer
8    20 inch terracotta planter
9        8 inch plastic planter
Name: product_description, dtype: object

In [6]:
seed_request = inventory[(inventory.location == 'Brooklyn') & (inventory.product_type == 'seeds')]
seed_request

    location product_type product_description  quantity  price
10  Brooklyn        seeds               daisy        50   6.99
11  Brooklyn        seeds          calla lily         0  19.99
12  Brooklyn        seeds              tomato         0  13.99

In [7]:
inventory['in_stock'] = inventory.apply(lambda row : True if row.quantity > 0 else False , axis = 1)

In [8]:
inventory['total_value'] = inventory.apply(lambda row: row.price * row.quantity , axis = 1)

In [12]:
combine_lambda = lambda row: '{} - {}'.format(row.product_type,row.product_description)

In [10]:
inventory['full_description'] = inventory.apply(combine_lambda,axis = 1)

In [11]:
inventory.head(10)

,location,product_type,product_description,quantity,price,in_stock,total_value,full_description
0,Staten Island,seeds,daisy,4,6.99,True,27.96,seeds - daisy
1,Staten Island,seeds,calla lily,46,19.99,True,919.54,seeds - calla lily
2,Staten Island,seeds,tomato,85,13.99,True,1189.15,seeds - tomato
3,Staten Island,garden tools,rake,4,13.99,True,55.96,garden tools - rake
4,Staten Island,garden tools,wheelbarrow,0,89.99,False,0.00,garden tools - wheelbarrow
5,Staten Island,garden tools,spade,93,19.99,True,1859.07,garden tools - spade
6,Staten Island,pest_control,insect killer,74,12.99,True,961.26,pest_control - insect killer
7,Staten Island,pest_control,weed killer,8,23.99,True,191.92,pest_control - weed killer
8,Staten Island,planter,20 inch terracotta planter,0,17.99,False,0.00,planter - 20 inch terracotta planter
9,Staten Island,planter,8 inch plastic planter,53,3.99,True,211.47,planter - 8 inch plastic planter